@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-diagonal-lines {
  background-color: #e3e3e3;
  opacity: 0.8;
  background: repeating-linear-gradient(
    -45deg,
    #5D12D2,
    #5D12D2 20px,
    #E3E3E3 20px,
    #E3E3E3 100px
  );
}
