@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-diagonal-lines {
  background-color: #e3e3e3;
  opacity: 0.8;
  background: repeating-linear-gradient(
    -45deg,
    #5d12d2,
    #5d12d2 20px,
    #e3e3e3 20px,
    #e3e3e3 200px
  );
}

.bg-lines-reversed {
  background-color: #e3e3e3;
  opacity: 0.8;
  background: repeating-linear-gradient(
    -45deg,
    #e3e3e3,
    #e3e3e3 20px,
    #5d12d2 20px,
    #5d12d2 200px
  );
}

.border-right-gray {
  border-right: 1px solid gray;
}